# deps
node_modules/

# builds
.next/
dist/
build/
release/

# backups
backups/

# env
.env
.env.local
.env*.local

# ts build cache
*.tsbuildinfo

# prisma / db
*.db
*.db-journal
prisma/dev.db*

# os / editor
.DS_Store
.idea/
.vscode/
*.log
